.recipe-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-image: url('../../assets/recipe-app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 50px;
  color: white;
}

.recipe-card {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.layout{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-child{
  margin: 5px;
}