<div class="container">
  <section>
    <div class="d-flex justify-content-between">
      <h4>List Foodie</h4>
      <a routerLink="/foodie/create" class="btn btn-success"
        >Create New Foodie</a
      >
    </div>

    <br />

    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Cuisine</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let foodie of foodies">
        <td>{{ foodie.id }}</td>
        <td>{{ foodie.name }}</td>
        <td>{{ foodie.description }}</td>
        <td>{{ foodie.cuisine }}</td>
        <td>
          <a
            href="#"
            [routerLink]="['/foodie/', 'edit', foodie.id]"
            class="btn btn-primary"
            >Edit</a
          >
          <button
            type="button"
            (click)="deleteFoodie(foodie.id)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </section>
</div>
