<div class="container">

  <div class="d-flex justify-content-between">
    <h4>Edit Foodie</h4>
    <a href="#" routerLink="/foodie/index" class="btn btn-primaryt">Back</a>
  </div>

  <hr>

  <form [formGroup]="form" (ngSubmit)="submit()">


      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="title">Name:</label>
            <input
              formControlName="name"
              [(ngModel)]="foodie.name"
              id="name"
              type="text"
              class="form-control">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name']errors['required']">*Name is required.</div>
                <div *ngIf="f['name']errors['pattern']">*The name must only contain letters.</div>
            </div>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="description">Description:</label>
            <input
              formControlName="description"
              [(ngModel)]="foodie.description"
              id="description"
              type="text"
              class="form-control">
            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                <div *ngIf="f['description']errors['required']">*Description is required.</div>
                <div *ngIf="f['description']errors['pattern']">*The description must be a valid description address.</div>
            </div>
          </div>
      </div>

      <div class="form-group row">
          <div class="col-md-6 ">
            <label for="cuisine">Cuisine:</label>
            <input
              [(ngModel)]="foodie.cuisine"
              formControlName="cuisine"
              id="cuisine"
              type="text"
              class="form-control">
            <div *ngIf="f['cuisine'].touched && f['cuisine'].invalid" class="alert alert-danger">
                <div *ngIf="f['cuisine']errors['required']">*cuisine is required.</div>
                <div *ngIf="f['cuisine']errors['pattern']">*The cuisine must only contain numbers.</div>
            </div>
          </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
  </form>
</div>
